body{
    margin: 0;
}
figure{
    display: flex;
    flex-flow: column wrap;
    flex-grow: inherit;
    max-width: 100%;
    height: auto;
    margin: 0;
    align-items: flex-start;
}
img{
    margin: 10px;
    border-radius: 5px;
}

.cabecalho{
    align-items: center;
    margin: 30px;
    border-radius: 5px;
    display: flex;
    width: 200px;
    height: 300px;
    flex-direction: column;   
    border: thin solid black;
}
@media(max-width:600px){ 
    .cabecalho{
        width:calc(100% - 7px);
        margin: 5px;
        height: auto;
    }
    figure{
        height: 1000px;
    }
    img{
        margin:2px;
        max-width:50%;
    }
}
@media(min-width:600px) and (max-width:1100px){
    .cabecalho{
        width:calc(100% - 7px);
        margin: 5px;
        height: auto;
    }
    img{
        max-width: 30%;
    }
    figure{
        max-height: 800px;
    }
}
@media(min-width:1100px){
    main{
        display: flex;
        
    }
    figure{
        height: 600px;
    }
}